.sidenav {
  .background {
    background-color: #5081ff;
  }
  .name, .email {
    color: #FFF;
  }
}

.nav-wrapper {

  #slide-out {
    .name {
      color: #000;
    }
  }

  .profile-image {
    background-color: #FFF;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }


}
